{% extends 'django_knowledge/inner.html' %}

{% load i18n %}

{% block title %}{% trans "Support" %}{% endblock title %}

{% block knowledge_widgets %}

<div class="dk-widget">
  <h3>{% blocktrans with count=questions|length %}Top {{ count }} Questions{% endblocktrans %}</h3>
  <hr />
  <ol class="question-list">
    {% for question in questions %}
      <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a> <small class="quiet">&nbsp;by {{ question.get_name }}</small></li>
    {% endfor %}
  </ol>
</div>

{% endblock knowledge_widgets %}