{% if my_questions %}

  <h4>My Questions</h4>
  <hr />

  <ul>
    {% for question in my_questions %}
      <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></li>
    {% endfor %}
  </ul>

  <br />
    
{% endif %}

<h4>Categories</h4>
<hr />

<ul>
  {% for category in categories %}
    <li><a href="{% url knowledge_list_category category.slug %}">{{ category.title }}</a></li>
  {% endfor %}
</ul>

<br />

<h4>Navigate</h4>
<hr />

<ul>
  <li><a href="{% url knowledge_ask %}">Ask a question or give suggestion.</a></li>
  <li><a href="{% url knowledge_index %}">Return to homepage.</a></li>
</ul>